* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h2 {
  padding-top: 2rem;
  font-size: 40px;
}
